table {
  text-align: center;
  color: #213464;
  width: 100%;
  // box-shadow: 0 0 1.5px 0px #6c757d;
  display: block !important;

}
#params {
  margin-top: 2%;
  display: flex;
}
.col{
  text-align: center;
}