.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.bankDetailes {
  display: flex;
}
h4,mat-dialog-content,mat-dialog-actions {
  font-family: inherit !important;
}
.mat-form-field{
  width: 100%;
}
.bankDetailes{
  padding-left: 0;
}