<div class="row">
  <div class="column">
    <img class="image" src="../../../assets/backgroundImages/Gamara.jpg" style="width:100%">
    <img class="d-none d-xl-block d-lg-block d-md-block image" src="../../../assets/backgroundImages/logoForBackground.png"
      style="width:100%">
    <img class="image" src="../../../assets/backgroundImages/onlyName.png" style="width:100%">
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png"style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/UML מייל יום הולדת.png" style="width:100%"> -->
  </div>
  <div class="column">
    <img class="image" src="../../../assets/backgroundImages/words.png" style="width:100%">
    <img class="d-none d-xl-block d-lg-block d-md-block image" src="../../../assets/backgroundImages/logoForBackground.png"
      style="width:100%">
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/unnamed (1).png" style="width:100%"> -->
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%"> -->
  </div>
  <div class="column">
    <img class="image" src="../../../assets/backgroundImages/onlyName.png" style="width:100%">
    <img class="image" src="../../../assets/backgroundImages/newGemara.jpg" style="width:100%">
    <img class="d-none d-xl-block d-lg-block d-md-block image" src="../../../assets/backgroundImages/logoForBackground.png"
      style="width:100%">
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%"> -->
  </div>
  <div class="column">
    <img class="d-none d-xl-block d-lg-block d-md-block image" src="../../../assets/backgroundImages/logoForBackground.png"
      style="width:100%">
    <img class="image" src="../../../assets/backgroundImages/words.png" style="width:100%">
    <!-- <img class="image"src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%"> -->
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%"> -->
  </div>
</div><div class="row">
  <div class="column">
    <img class="image" src="../../../assets/backgroundImages/Gamara.jpg" style="width:100%">
    <img class="d-none d-xl-block d-lg-block d-md-block image" src="../../../assets/backgroundImages/logoForBackground.png"
      style="width:100%">
    <img class="image" src="../../../assets/backgroundImages/onlyName.png" style="width:100%">
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png"style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/UML מייל יום הולדת.png" style="width:100%"> -->
  </div>
  <div class="column">
    <img class="image" src="../../../assets/backgroundImages/words.png" style="width:100%">
    <img class="d-none d-xl-block d-lg-block d-md-block image" src="../../../assets/backgroundImages/logoForBackground.png"
      style="width:100%">
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/unnamed (1).png" style="width:100%"> -->
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%"> -->
  </div>
  <div class="column">
    <img class="image" src="../../../assets/backgroundImages/onlyName.png" style="width:100%">
    <img class="image" src="../../../assets/backgroundImages/newGemara.jpg" style="width:100%">
    <img class="d-none d-xl-block d-lg-block d-md-block image" src="../../../assets/backgroundImages/logoForBackground.png"
      style="width:100%">
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%"> -->
  </div>
  <div class="column">
    <img class="d-none d-xl-block d-lg-block d-md-block image" src="../../../assets/backgroundImages/logoForBackground.png"
      style="width:100%">
    <img class="image" src="../../../assets/backgroundImages/words.png" style="width:100%">
    <!-- <img class="image"src="../../../assets/backgroundImages/logoForBackground.png" style="width:100%"> -->
    <!-- <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%">
      <img class="d-none d-xl-block d-lg-block d-md-block" src="../../../assets/backgroundImages/logo for background.png" style="width:100%"> -->
  </div>
</div>




